@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Vollkorn:900');
#map {
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

#pac-card {
  flex: 0 1 50%;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 18%;
}

#title {
  color: #626962;
  font-size: 7em;
  font-weight: 900;
  font-family: 'Vollkorn', serif;
  border: 0;
  box-shadow: none;
  background: transparent;
}

#para {
  display: inline;
  margin: 0 0 0 1em;
}

#pac-container {
  display: flex;
  justify-content: center;
  width: 35em;
  align-items: center;
  border: 0.1em solid #626962;
  border-radius: 0.5em;
  box-shadow: inset 0 0 0 0.1em #272727;
  padding: 1.5em 0.5em;
  position: relative;
  z-index: 1;
  display: flex;
  line-height: 3em;
}

#pac-container input {
  border: 0.1em solid #444;
  border-radius: 0.5em 0 0 0.5em;
  color: #888;
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  height: 3em;
  margin: 0;
  padding: 0 1em;
}

.ie #pac-card input {
  line-height: 3em;
}

#pac-card input::-webkit-input-placeholder {
  color: #888;
}

#pac-card input:-moz-placeholder {
  color: #888;
}

#pac-input:focus {
  border-color: rgb(51, 133, 153);
  box-shadow: 0 0 0.5em rgba(0, 26, 255, 0.315), inset 0 0 0.5em rgba(0, 255, 0, 0.1);
  color: #444;
  outline: none;
}

#pac-container p {
  color: #444;
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  margin: 0;
  line-height: initial;
  width: 4em;
}

#use-strict-bounds {
  width: 3em;
  box-shadow: none;
}

#listing {
  max-height: 10em;
  overflow: auto;
  cursor: pointer;
  overflow-x: hidden;
  border: none;
  padding: 1em 0.5em 1em 1em;
  border-radius: 0.5em;
  margin-right: 10em;
  margin-left: 1em;
  width: 42em;
}

#listing::-webkit-scrollbar {
  width: 1em;
}

#listing::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5em rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 0.5em rgba(0, 0, 0, 0.3);
}

#listing::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 0.1em solid slategrey;
  border-radius: 0.5em;
}

#listing:after {
  display: block;
  background-color: #626962;
  height: 0.25em;
  width: 100%;
  position: absolute;
  bottom: -3;
}

#resultsTable {
  border-collapse: collapse;
  padding: 0.5em;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  font-weight: 400;
}

#rating {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}

td {
  padding: 0 0.5em;
}

tr {
  padding: 0.9em;
}

td:nth-child(2) {
  font-weight: bold;
}

td:nth-child(4) {
  padding-left: 1em;
}

td:nth-child(5) {
  padding-left: 1em;
}

td:nth-child(6) {
  padding-left: 1em;
}

#infoContent .title {
  font-weight: bold;
}

#infoContent {
  display: none;
  font-family: 'Open Sans', sans-serif;
  -webkit-align-content: space-between;
  align-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  min-height: 2.5em;
  padding: 0.2em;
}

#infoContent img {
  padding: 0.2em 0.2em 0.3em 0;
  vertical-align: middle;
}

#map #infoContent {
  display: inline-block;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.placeIcon {
  width: 1.5em;
  height: 2.3em;
  margin: 0.4em;
}

#infoContent .span {
  padding: 0.2em 0;
}

#pac-input {
  width: 20em;
}

.gm-style-iw {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  border: 0.2em;
}